<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel</title>
</head>
<body>
    <div style="
        width: 100%;
        border: 1px solid black;
        text-align: center;
    "
    >
        <p style="
                color: {{ coleur }};
                "
        >
            {{ message }}
        </p>
    </div>
</body>
</html>